beanie==2.1.0
fastapi==0.136.1
httpx==0.28.1
langchain_classic==1.0.7
langchain_cohere==0.5.1
langchain_core==1.4.0
langchain_experimental==0.4.1
langchain_google_genai==4.2.2
langchain_groq==1.1.2
langchain_huggingface==1.2.2
langchain_mongodb==0.11.0
langchain_text_splitters==1.1.2
motor==3.7.1
passlib==1.7.4
pydantic==2.13.4
pymongo==4.17.0
python-dotenv==1.2.2
python_jose==3.5.0
Requests==2.34.2
slowapi==0.1.9
starlette==1.0.0
