@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: oklch(0.609 0.126 221.723);
}

body {
    font-family: "Rethink Sans", sans-serif;
    box-sizing: border-box;
}
